<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fort Studio</title>
</head>

<style>
    a {
        text-decoration: none;
        color: lightcoral;
    }

    body {
        background-color: black;
        color: white;
        font-weight: lighter;
        font-family: 'Roboto Mono', monospace;
    }
</style>

<body>

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

    <h1 style="font-size: 50px;  margin-bottom: 0; margin-top: 0">
        {{ . }}</h1>

</div>

</body>
</html>